@import url(https://fonts.googleapis.com/css?family=Raleway|Open+Sans+Condensed:300|Droid+Serif);

$font-stack: 'Raleway', 'Open Sans Condensed', sans-serif;
$font-copy: 'raleway', serif;
$font-heading: 'Droid Serif', sans-serif;
$font-link: 'open sans condensed', monospace;

$bg-color: rgba(177,195,190,.9);
$font-color: rgba(1,1,1,.9);