@import url(https://fonts.googleapis.com/css?family=Slabo+27px|PT+Sans:400,400italic,700,700italic|Anonymous+Pro:400,400italic,700,700italic);

$font-stack: tahoma, helvetica, sans-serif;
$font-copy: 'Slabo 27px', serif;
$font-heading: 'PT Sans', sans-serif;
$font-link: 'Anonymous Pro', monospace;

$bg-color: rgba(177,195,190,.9);
$font-color: rgba(1,1,1,.9);